body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
input{
    max-width: 50px;
    text-align: center;
    border: none;
}
.breakWrap, .sessionWrap{    
    display: inline-block;
    border: 1px dashed black;
    text-align: center;
    margin-top: 50px;
}
#clock{
    margin-top: 50px;
    width: 50vw;
    padding: 25px 0px;
    display: inline-block;
    border: 1px solid #555;
}
@keyframes progress {
    from{
        box-shadow: 0px 0px 0px 0px #900000 inset;
    }
    to{
        box-shadow: 50vw 0px 0px 0px #00cc00 inset;
    }
    
}