body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
}
input{
    max-width: 50px;
    text-align: center;
    border: none;
}
.restWrap, .sessionWrap{    
    display: inline-block;
    border: 1px dashed black;
    text-align: center;
    margin-top: 50px;
}
.clockWrap:hover{
    background-color: #dfd;
    cursor: pointer;
}
.clockWrap{
    height: 50vw;
    width: 50vw;
    display: block;
    border: 1px solid #555;
    border-radius: 25vw;
    position: relative;
    display: inline-block;
    background-color: #efe;
}
.clockScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "Bungee Inline", cursive;
    font-size: 30px;    
}
.workSession {
    color: #fa6969;
}
.breakSession {
    color: #69fa69;
}
@media (orientation: landscape) {
    .clockWrap{
        height: 50vh;
        width: 50vh;
        border-radius: 25vh;
    }
}