body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;    
    font-family: "Bungee Inline", cursive;
    color: #fa6969;
    background: peachpuff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input{
    max-width: 50px;
    text-align: center;
    border: none;
}

/* Options Screen */

.settingsScreen {
    display: none;
    position: fixed;
    border: 1px outset black;
    top: 15vh;
    left: 15vw;
    height: 70vh;
    width: 70vw;
    background-color: white;
    z-index: 1;
    font-size: 5vw;
}
.options {
    position: relative;
    top: 45%;
    transform: translateY(-55%);
}
.settingsScreen .mySlider {
    margin: 10px 10%;
    background-color: lightcoral;
}

/* Buttons */

.butt {
    border: 1px #eee outset;
    font-family: inherit;
    color: inherit;   
    position: absolute;
    bottom: 10px;
    right: 10%;
    background-color: #efe;
    color: lightcoral;
}
.butt:active {
    border: 1px #eee inset;
    transform: translateY(1px);
}
.fa-spin-hover:hover {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}


/* Clock */

.clockWrap:hover, .butt:hover{
    background-color: #dfd;
    cursor: pointer;
}
.clockWrap{
    height: 70vw;
    width: 70vw;
    display: block;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #555;
    border-radius: 35vw;
    background-color: #efe;
}
.clockScreen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10vw;    
}
.workSession {
    color: #fa6969;
}
.restSession {
    color: #69fa69;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media (orientation: landscape) {
    .clockWrap{
        height: 70vh;
        width: 70vh;
        border-radius: 35vh;
    }
    .settingsScreen {
        font-size: 5vh;
    }
    .clockScreen {
        font-size: 10vh;
    }
}

@media (max-height: 400px) {
    .clockWrap{
        top: 60%;
    }
    .settingsScreen{
        top: 25vh;
    }
}